/* Importar la fuente de Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap");

/* Estilos comunes para todas las pantallas */
body {
  background-color: #a3cbeb;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.cargando {
  width: 160px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.texto-cargando {
  padding-top: 20px;
  font-size: 2.5em;
  color: #23546c;
}

.pelotas {
  width: 40px;
  height: 40px;
  background-color: #eb6e3e;
  animation: salto 0.5s alternate infinite;
  border-radius: 50%;
}

.pelotas:nth-child(2) {
  animation-delay: 0.18s;
}

.pelotas:nth-child(3) {
  animation-delay: 0.37s;
}

@keyframes salto {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-50px) scaleX(1);
  }
}

